/*home page*/
@font-face {
    font-family: geometria;
    src: url("./font/Geometria-ExtraLight.ttf");
}

@font-face {
    font-family: geometria-n;
    src: url("./font/Geometria.ttf");
}

@font-face {
    font-family: geometria-b;
    src: url("./font/Geometria-Bold.ttf");
}

@font-face {
    font-family: gildadisplay;
    src: url("./font/GildaDisplay-Regular.ttf");
}
html {
  scroll-behavior: smooth !important;
}

.ds-h4 {
    font-size: 2.5vw;
}

.ds-h1 {
    font-size: 4vw;
}

.ds-h4-sub {
    font-size: 1.5vw;
}

.sec-90vh {
    height: 90vh;
}

.sec-100vh {
    height: 100vh;
}

.ds-spa-vw {
    font-size: 3vw;
    font-family: geometria;
}

.ds-banner-home {
    background-image: url("../img/hotel-benaco/hotel-benaco-banner.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: top; /* Center the image */
    background-repeat: round; /* Do not repeat the image */
    background-size: 100% 100%; /* Resize the background image to cover the entire container */
    position: relative;
}

.ds-pos-abs {
    position: absolute;
    bottom: 20px;
}
.js-pos-abs {
    position: absolute;
   /*top:54vh;*/
   z-index: 9999999999999999999;
   bottom: 0;
} 

.ds-gm-n {
    font-family: geometria-n;
}

.ds-pp-l {
    padding-left: 8.9rem !important;
}

.ds-gm-b {
    font-family: geometria-b;
}

.ds-ff {
    font-family: gildadisplay;
}

.cm-pl {
    padding-right: 1.4rem;
}

.cs-d-flex {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    column-gap: 50px;
}

.ds-fg {
    font-family: geometria;
}

.ds-pr-four {
    padding-right: 2rem;
}


.ds-grid {
    display: grid;
}

.ds-br-top {
    border-top: 1px solid #404040;
}

.ds-bn-img {
    background-image: url("../img/hotel-benaco/hotel-sec.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 600px;
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.ds-ri-arrow {
    position: absolute;
    right: 140px;
    top: 100px;
    background-color: #7b4534;
    padding: 1rem;
    border-radius: 50%;
}

.ds-ri-arrow:hover {
    background-color: #707070;
}

.ds-ri-arrow-1 {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 50%;
}

.ds-ri-arrow-1:hover {
    background-color: #cecece;
}

.ds-slide-go {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 80px;
    column-gap: 10px;
    right: 80px;
}

.ds-befo:before {
    content: " | ";
    padding-left: 6px;
    display: grid;
    transform: scale(2.2) rotate(20deg);
    font-weight: lighter;
    position: relative;
    top: 8px;
    right: 15px;
}

.ds-bl-w {
    border-left: 1px solid #fff;
}

.ds-po-re {
    position: relative;
    top: 27px;
}

.ds-icon {
    width: 28px;
    max-width: 28px;
}

.ds-s-bb {
    border-bottom: 1px solid #dedede;
}

.ds-fs {
    font-size: 3.2vw;
}

.ds-hotel-logo {
    width: 135px;
    max-width: 135px;
}

.ds-op option {
    background-color: #cecece !important;
    color: #404040 !important;
}

.ds-banner-img {
    grid-column: 1;
    height: 100vh;
    grid-row: 1;
    animation: bannerimg 2.5s ease-in-out;
}

@keyframes bannerimg {
    0% {
        grid-column: 1;
        grid-row: 1;
        transform: scale(1.04);
    }
    100% {
        grid-column: 1;
        grid-row: 1;
        transform: scale(1);
    }
}


.ds-grid-content {
    grid-column: 1;
    grid-row: 1;
}

.ds-ml-auto {
    margin-left: auto;
    position: relative;
    /*top: 15px;*/
}

.ds-arrow-border {
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 50%;
    width: 7vw;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.ds-sih {
    height: 100vh;
    object-fit: cover;
}

.ds-sd {
    width: 40px;
}

.ds-mt-9 {
    margin-top: 9rem;
}

.ds-arrive-date {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0.8rem 1rem;
    color: #fff;
    border-radius: 1px;
    text-align: center;
    outline: none;
}

.ds-arrive-date-1 {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0.8rem 0.2rem;
    width: 90px;
    color: #fff;
    border-radius: 1px;
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.ds-ib {
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 9px;
    padding-left: 3px;
    padding-top: 2px;
    margin: 4px 0;
    cursor: pointer;
}

.ds-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #fff;
    color: #fff;
    align-items: center;
    width: 70px;
    padding: 0 10px;
    column-gap: 15px;
    position: relative;
    top: 3px;
}

.ds-mn {
    padding-left: 5px !important;
}

.ds-ns {
    font-size: 1.6rem;
}

.ds-ml {
    margin-left: 40px;
}

.ds-btn {
    color: #fff;
    border-radius: 0;
    border: 3px solid #fff;
    padding: 11px 2px;
}

.ds-btn:hover {
    color: #fff;
}

.ds-mxw-30 {
    max-width: 30px;
}

.ds-bg-gr {
    background-color: #eaeaea;
}

.ds-bg-gre {
    background-color: #e4e4e4;
}

.ds-bgt {
    font-size: 6.6rem;
    font-family: gildadisplay;
    letter-spacing: 1px;

}

.ds-spn {
    font-size: 1.07vw;
}

.ds-fsrem {
    font-size: 1.3rem;
}

.ds-bgt-1 {
    font-size: 4.9rem;
    font-family: gildadisplay;
    letter-spacing: 9px;
}


.ds-vw-1 {
    font-size: 5.9vw;
    font-family: gildadisplay;
    /*letter-spacing: 9px;*/
    letter-spacing: -0.38vw;
    width: 800px;
}

.ds-vw-2 {
    font-size: 5.5vw;
    font-family: gildadisplay;
    letter-spacing: 9px;
}

.ds-bgt-cus {
    font-size: 7vw;
    font-family: gildadisplay;
    letter-spacing: 9px;
}

.ds-bgt-2 {
    font-size: 3.6rem;
    letter-spacing: 1px;
    font-family: gildadisplay;
}

.ds-section {
}

.ds-p {
    font-size: 1.5vw;
}

.ds-py-5 {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.ds-100vh {
    height: 100vh;
    object-fit: cover;
}

.ds-re {
    /*position: relative;*/
}

.ds-ab {
    position: absolute;
    right: 13%;
    top: 41%;
}

.ds-img-1 {
    max-width: 610px;
    position: relative;
    width: 100%;
    margin-left: -4%;
    height: 50vh;
}

.ds-img-2 {
    max-width: 450px;
    position: relative;
    left: 250px;
    width: 356px;
    top: -12%;
}
.ds-img-2:hover{
    cursor: pointer !important;
}

.ds-z {
    z-index: 2;
    position: relative;
}

.ds-24 {
    width: 24px;
}

.ds-bg-grey {
    background-color: #dbdbdb;
}

.ds-btn-g {
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 4px 20px;
}

.ds-i5 {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.ds-img-pos {
    position: absolute;
    right: 80px;
    top: 60px;
    z-index: 9999;
}

.ds-img-pos-1 {
    position: absolute;
    left: 80px;
    top: 60px;
    z-index: 9999;
}

.ds-grid-six {
    display: grid;
}

.ds-sec-1 {
    grid-column: 1;
    height: 84vh;
    object-fit: cover;
    grid-row: 1;
}

.ds-sec-3 {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

.ds-sec-2 {
    grid-column: 1;
    align-self: center;
    grid-row: 1;
}

.ds-bor-b {
    border-bottom: 3px solid #d9d9d9;
}

.ds-pl-5 {
    padding-left: 3rem;
}

.ds-pos-relative {
    position: relative;
    top: 70px;
}

.ds-pl-0 {
    padding-left: 0;
}

.ds-imgs {
    /*width: 25vw;*/
}

.ds-form-con {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.ds-form-con:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.bor-rd-0 {
    border-radius: 0;
}

.ds-border-bottom {
    border-bottom: 1px solid #404040;
}

.ds-ul {
    padding-left: 0 !important;
    padding-top: 4px;
}

.ds-ul li {
    float: left;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}

.ds-ul li:after {
    content: " | ";
    color: #767676;
}

.ds-ul li:nth-last-of-type(1):after {
    content: " " !important;
    color: #767676;
}

.ds-ul a {
    text-decoration: none;
    color: #868686;
    font-family: geometria-n;
    font-size: 13px;
}

.ds-w-24 {
    width: 24px;
}

.ds-w-30 {
    width: 35px;
    padding-right: 10px;
}

.ds-pr-4 {
    padding-right: 3rem;
}

/* & home page*/


/*camera singola */

.cs-banner-img {
    background-image: url("../img/hotel-benaco/camere.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 100vh;
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.cs-abs {
    position: absolute;
    bottom: 50px;
    left: 35px;
}
.css-abs {
    position: absolute;
    bottom: 100px !important;
    left: 90px !important;
}

.cs-arrive-date {
    border: 1px solid #404040;
    background-color: transparent;
    padding: 0.8rem 1rem;
    color: #404040;
    border-radius: 1px;
    text-align: center;
    outline: none;
}

.cs-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #404040;
    color: #404040;
    align-items: center;
    width: 70px;
    padding: 0 10px;
    column-gap: 15px;
    position: relative;
    top: 3px;
}

.cs-ib {
    border: 1px solid #404040;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 9px;
    padding-left: 3px;
    padding-top: 2px;
    margin: 4px 0;
    cursor: pointer;
}

.cs-arrive-date-1 {
    border: 1px solid #404040;
    background-color: transparent;
    padding: 0.8rem 0.2rem;
    width: 90px;
    color: #fff;
    border-radius: 1px;
    outline: none;
}

.cs-btn {
    color: #404040;
    border-radius: 0;
    border: 3px solid #404040;
    padding: 10px 4px;
}

.cs-bn-img {
    background-image: url("../img/hotel-benaco/garden.jpg");
    background-position: center;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.cs-bgt-1 {
    font-size: 6.2rem;
    font-family: gildadisplay;
    letter-spacing: 3px;
}

.cs-ri-arrow {
    position: absolute;
    left: 140px;
    top: 100px;
    background-color: #7b4534;
    padding: 1rem;
    border-radius: 50%;
}

.cs-ri-arrow:hover {
    background-color: #707070;
}

/* & camera singola */

/*login*/
.login-title {
    font-size: 2rem;
    font-family: gildadisplay;
}

.login-form-con {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5c5c5c;
    border-radius: 0;
    padding: 6px 0 !important;
}

.log-btn {
    border: none;
    background-color: transparent !important;
    text-align: right;
    font-size: 2rem;
    font-family: gildadisplay;
}

.ds-border-bottom {
    border-bottom: 1px solid #404040;
}

.ds-small {
    font-size: 13px;
}

.login-100vh {
    height: 100vh;
}

.login-pl-4 {
    padding-left: 4rem;
}

.in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 300px;
}

.ds-in-t {
    font-size: 1.1rem;
    font-family: gildadisplay;
}

.in-hotel-logo {
    width: 50px;
    max-width: 50px;
}

.in-pr-0 {
    padding-right: 0;
}

.in-pl-0 {
    padding-left: 0;
}

/* & login*/

/*backend 4th page*/
.cs-op:focus-visible {
    outline: none !important;
}

.bc-grid {
    display: grid;
    padding-top: 3rem;
    grid-template-columns: 10px 1fr;
    column-gap: 10px;
}

.bc-border-bottom-1 {
    border-bottom: 2px solid #404040;
    display: block;
    position: relative;
    top: 21px;
}

.bc-border-bottom-2 {
    border-bottom: 2px solid #404040;
    display: block;
    margin-top: 8px;
    position: relative;
    top: 51px;
}

.bc-nav {
    display: block !important;
}

.bc-pl-2 {
    padding-left: 1.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #404040 !important;
    font-weight: bold;
    background-color: transparent !important;
}

.has-active {
    font-weight: bold;
}

.bc-a {
    display: block;
    text-decoration: none;
    color: #404040;
}

.bc-mt-5 {
    margin-top: 5rem;
}

.bc-relative {
    position: relative;
}

.bc-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

.bc-abs {
    position: absolute;
    top: 10px;
    width: 20px;
    right: 10px;
}

.bc-font {
    font-size: 1.1rem;
    font-family: geometria-n;
}

.bc-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bc-fe {
    align-self: flex-end;
}

/* & backend 4th page*/
/*media query (responsive design)*/
@media (max-width: 399px) {
    .ds-pp-l {
        padding-left: 2px;
    }

    .ds-mb-insm {
        margin-bottom: 3rem;
    }

    .sec-100vh-2 {
        height: unset !important;
    }

    .ds-spn {
        font-size: 5.07vw;
    }

    .ds-spa-vw {
        font-size: 10vw;
        font-family: geometria;
    }

    .ds-sec-3 {
        grid-column: 1;
        grid-row: 1;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        margin-top: 200px;
    }

    .ds-grid-six {
        display: grid;
        padding-bottom: 10px;
    }

    .ds-vw-2 {
        font-size: 8.5vw;
        font-family: gildadisplay;
        letter-spacing: 9px;
    }

    .ds-vw-1 {
        font-size: 9.9vw;
        font-family: gildadisplay;
        letter-spacing: 9px;
    }

    .ds-h1 {
        font-size: 14vw !important;
    }

    .ds-h4-sub {
        font-size: 4.8vw;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .ds-p {
        font-size: 4.5vw;
        padding-top: 1rem;
    }

    .ds-h4 {
        font-size: 7.5vw;
        letter-spacing: 4px;
    }

    .ds-banner-home {
        background-image: url("../img/hotel-benaco/hotel-benaco-banner.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 100vh; /* You must set a specified height */
        background-position: top; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        position: relative;
    }

    .sec-90vh {
        height: 100vh;
    }

    .ds-pos-abs {
        position: absolute;
        bottom: 50px;
    }
   


    .cs-d-flex {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .ds-fs {
        font-size: 28px;
    }

    .ds-bgt-cus {
        font-size: 9vw;
        font-family: gildadisplay;
        text-align: left;
        letter-spacing: 9px;
    }

    .bc-grid {
        display: grid;
        padding-top: 1rem;
        grid-template-columns: 10px 1fr;
        column-gap: 10px;
    }

    .bc-font {
        font-size: .8rem;
        font-family: geometria-n;
    }

    .ds-form-con {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #404040;
        border-radius: 0;
        font-size: .8rem;
    }

    .bc-mt-5 {
        margin-top: 2rem;
    }

    .bc-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
    }

    .in-hotel-logo {
        width: 45px;
        max-width: 45px;
    }

    .ds-in-t {
        font-size: 1rem;
        font-family: gildadisplay;
    }

    .bc-flex {
        display: block;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 20px;
        text-align: center;
        right: 10px;
    }

    .bc-in-sm {
        display: block;
    }

    .ds-sih {
        height: 100vh;
        object-fit: cover;
    }

    .cs-banner-img {
        background-image: url(../img/hotel-benaco/camere.jpg);
        background-color: #cccccc;
        background-position: center;
        height: 70vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cs-bn-img {
        background-image: url(../img/hotel-benaco/garden.jpg);
        background-position: center;
        height: 500px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cs-bgt-1 {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 3px;
    }

    .ds-bgt {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-bgt-1 {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-img-1 {
        max-width: 100%;
        position: relative;
    }

    .ds-img-2 {
        max-width: 100%;
        position: relative;
        left: 0;
        padding-top: 2rem;
    }

    .ds-banner-img {
        grid-column: 1;
        grid-row: 1;
        height: 100vh;
        object-fit: cover;
    }

    .ds-mt-9 {
        margin-top: 1rem;
    }

    .ds-po-re {
        position: relative;
        top: 0px;
    }

    .ds-arrive-date {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        color: #fff;
        border-radius: 1px;
        text-align: center;
        outline: none;
    }

    .ds-arrive-date-1 {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        width: 90px;
        color: #fff;
        border-radius: 1px;
        outline: none;
    }

    .ds-btn {
        color: #fff;
        border-radius: 0;
        border: 3px solid #fff;
        padding: 2px;
        font-size: .8rem;
    }

    .ds-arrow-border {
        border: 1px solid #fff;
        padding: 1rem;
        border-radius: 50%;
        width: 50px;
    }

    .ds-text-center {
        text-align: center;
    }

    .ds-s-bb {
        border-bottom: 1px solid #dedede;
        font-size: .8rem;
    }

    .ds-py-5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ds-bgt-2 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-family: gildadisplay;
    }

    .ds-ul a {
        text-decoration: none;
        color: #868686;
        font-size: 12px;
    }

    .ds-ri-arrow {
        position: absolute;
        right: 60px;
        top: 100px;
        background-color: #7b4534;
        padding: 1rem;
        border-radius: 50%;
    }

    .login-pl-4 {
        padding-left: 1rem;
    }
}

@media (min-width: 400px) and (max-width: 700px) {
    .ds-pp-l {
        padding-left: 2px;
    }

    .ds-mb-insm {
        margin-bottom: 3rem;
    }

    .sec-100vh-2 {
        height: unset !important;
    }

    .ds-spn {
        font-size: 5.07vw;
    }

    .ds-spa-vw {
        font-size: 10vw;
        font-family: geometria;
    }

    .ds-sec-3 {
        grid-column: 1;
        grid-row: 1;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        margin-top: 200px;
    }

    .ds-grid-six {
        display: grid;
        padding-bottom: 10px;
    }

    .ds-vw-2 {
        font-size: 8.5vw;
        font-family: gildadisplay;
        letter-spacing: 9px;
    }

    .ds-vw-1 {
        font-size: 9.9vw;
        font-family: gildadisplay;
        letter-spacing: 9px;
    }

    .ds-h1 {
        font-size: 14vw !important;
    }

    .ds-h4-sub {
        font-size: 4.8vw;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .ds-p {
        font-size: 4.5vw;
        padding-top: 1rem;
    }

    .ds-banner-home {
        background-image: url("../img/hotel-benaco/hotel-benaco-banner.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 100vh; /* You must set a specified height */
        background-position: top; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        position: relative;
    }

    .sec-90vh {
        height: 100vh;
    }

    .ds-h4 {
        font-size: 7.5vw;
        letter-spacing: 4px;
    }


    .ds-pos-abs {
        position: absolute;
        bottom: 50px;
    }

    .cs-d-flex {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .ds-fs {
        font-size: 28px;
    }

    .ds-bgt-cus {
        font-size: 9vw;
        text-align: left;
        font-family: gildadisplay;
        letter-spacing: 9px;
    }

    .bc-grid {
        display: grid;
        padding-top: 1rem;
        grid-template-columns: 10px 1fr;
        column-gap: 10px;
    }

    .bc-font {
        font-size: .8rem;
        font-family: geometria-n;

    }

    .ds-form-con {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #404040;
        border-radius: 0;
        font-size: .8rem;
    }

    .bc-mt-5 {
        margin-top: 2rem;
    }

    .bc-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
    }

    .in-hotel-logo {
        width: 45px;
        max-width: 45px;
    }

    .ds-in-t {
        font-size: 1rem;
        font-family: gildadisplay;
    }

    .bc-flex {
        display: block;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 20px;
        text-align: center;
        right: 10px;
    }

    .bc-in-sm {
        display: block;
    }

    .ds-ri-arrow {
        position: absolute;
        right: 60px;
        top: 100px;
        background-color: #7b4534;
        padding: 1rem;
        border-radius: 50%;
    }

    .ds-sih {
        height: 100vh;
        object-fit: cover;
    }

    .cs-banner-img {
        background-image: url(../img/hotel-benaco/camere.jpg);
        background-color: #cccccc;
        background-position: center;
        height: 70vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cs-bn-img {
        background-image: url(../img/hotel-benaco/garden.jpg);
        background-position: center;
        height: 500px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cs-bgt-1 {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 3px;
    }

    .ds-bgt {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-bgt-1 {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-img-1 {
        max-width: 100%;
        position: relative;
    }

    .ds-img-2 {
        max-width: 100%;
        position: relative;
        left: 0;
        padding-top: 2rem;
    }

    .ds-banner-img {
        grid-column: 1;
        grid-row: 1;
        height: 600px;
        object-fit: cover;
    }

    .ds-mt-9 {
        margin-top: 1rem;
    }

    .ds-po-re {
        position: relative;
        top: 0px;
    }

    .ds-arrive-date {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        color: #fff;
        border-radius: 1px;
        text-align: center;
        outline: none;
    }

    .ds-arrive-date-1 {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        width: 90px;
        color: #fff;
        border-radius: 1px;
        outline: none;
    }

    .ds-btn {
        color: #fff;
        border-radius: 0;
        border: 3px solid #fff;
        padding: 2px;
        font-size: .8rem;
    }

    .ds-arrow-border {
        border: 1px solid #fff;
        padding: 1rem;
        border-radius: 50%;
        width: 50px;
    }

    .ds-text-center {
        text-align: center;
    }

    .ds-s-bb {
        border-bottom: 1px solid #dedede;
        font-size: .8rem;
    }

    .ds-py-5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ds-bgt-2 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-family: gildadisplay;
    }

    .ds-ul a {
        text-decoration: none;
        color: #868686;
        font-size: 12px;
    }

    .login-pl-4 {
        padding-left: 1rem;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .cs-bgt-1 {
        font-size: 3rem;
        font-family: gildadisplay;
        letter-spacing: 3px;
    }

    .ds-bgt {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-bgt-1 {
        font-size: 2rem;
        font-family: gildadisplay;
        letter-spacing: 1px;
    }

    .ds-img-1 {
        max-width: 100%;
        position: relative;
    }

    .ds-img-2 {
        max-width: 100%;
        position: relative;
        left: 0;
        padding-top: 2rem;
    }

    .ds-banner-img {
        grid-column: 1;
        grid-row: 1;
        height: 600px;
        object-fit: cover;
    }

    .ds-mt-9 {
        margin-top: 1rem;
    }

    .ds-po-re {
        position: relative;
        top: 0px;
    }

    .ds-arrive-date {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        color: #fff;
        border-radius: 1px;
        text-align: center;
        outline: none;
    }

    .ds-arrive-date-1 {
        border: 1px solid #fff;
        background-color: transparent;
        padding: 0.2rem 0rem;
        width: 90px;
        color: #fff;
        border-radius: 1px;
        outline: none;
    }

    .ds-btn {
        color: #fff;
        border-radius: 0;
        border: 3px solid #fff;
        padding: 2px;
        font-size: .8rem;
    }

    .ds-arrow-border {
        border: 1px solid #fff;
        padding: 1rem;
        border-radius: 50%;
        width: 50px;
    }

    .ds-text-center {
        text-align: center;
    }

    .ds-s-bb {
        border-bottom: 1px solid #dedede;
        font-size: .8rem;
    }

    .ds-py-5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ds-bgt-2 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-family: gildadisplay;
    }

    .ds-ul a {
        text-decoration: none;
        color: #868686;
        font-size: 12px;
    }

    .ds-p {
        font-size: 14px;
    }

}

@media (min-width: 1001px) and (max-width: 1200px) {
    .in-pl-10 {
        padding-left: 10px;
    }

    .ds-img-2 {
        max-width: 400px;
        position: relative;
        left: 170px;
    }

    .ds-img-1 {
        max-width: 520px;
        position: relative;
    }

    .ds-banner-img {
        grid-column: 1;
        grid-row: 1;
        height: 800px;
    }
}

/* & media query (responsive design)*/





/* js */

.js-bg-video-wrap {
  position: relative;
  width: 100%;
  height: 0 auto;
}


.js-overlay {
  width: 100%;
  height: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.2) 50%, rgba(0,0,0,.2) 50%);
  background-size: 3px 3px;
  z-index: 2;
}


.j1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
}
 
 .j2{
    position: absolute;
    bottom: 3vh;
 }



html , body{
    overflow-x: hidden;
}



.js-video{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.custom-light-black{
    color: #5f5f5f!important;
}
.custom-font-s2-t1{
    font-size: 1.6vw !important;
    padding-left: 3.3% !important;
}

.custom-font-s2-t3{
    font-size: 1.65vw !important;
}

.ds-left-arrow {
    position: absolute;
    left: 140px;
    top: 100px;
    background-color: #7b4534;
    padding: 1rem;
    border-radius: 50%;
}

.ds-left-arrow:hover {
    background-color: #707070;
}
.dev-ds-p {
    font-size: 1.35vw;
}
.devfont{
    font-size: 6.1vw;
}
.dev-t2-s5{
    text-align: initial;
    margin-left: 3%;
}
.dev-t2-s6{
    text-align: initial;
    margin-left: 7.5%;
}
.dev-py-half5{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.height29{
    height: 29vh !important;
}
.height69{
    height: 71vh !important;
}
.height65{
    height: 67vh !important;
}
.font-size4-7{
    font-size: 4.3vw !important;
}
.flickity-viewport{
    height: 100vh !important;
}
.pl2-3{
    padding-left: 2.3rem !important;
}
.devexpfont{
    font-size: 5.15vw;
    margin-top: 2vh;
}
.vh-7{
    margin-top: -7vh;
}
.grey{
    color: grey !important;
}
.mt30vh{
    margin-top: 47vh !important;
}
.font-size20pt{
    font-size: 20pt !important;
}
.font-size110pt{
    font-size: 85pt !important;
}
.height-auto{
    height: auto !important;
}
.section107vh{
    height: 107vh !important;
}
/*@media(min-width:  780px) {
    .pb-cus-md-6{
        padding-bottom: 6vh !important;
    }
}
*/

 .pb-cus-md-6{
        padding-bottom: 6rem !important;
    }

/*@media (max-width: 767px){
   
.ds-fs{
    font-size: 21px;
}
.custom-font-s2-t1{
    font-size: 6.7vw !important;
}
.ds-pp-l{
    padding-left: 0px !important;
}
.custom-font-s2-t3 {
    font-size: 6vw !important;
}
.js-top{
    margin-top: 60px;
}
}
*/

/*@media (min-width: 768px) and (max-width: 1023px){
     .js-pos-abs {
    position: absolute;
   top:320px;
   z-index: 9999999999999999999;
} 
.pb-cus-md-6{

}

}*/
@media (min-width: 1200px) and (max-width:  1300px) {
     .js-pos-abs {
    position: absolute;
   top:100px;
   z-index: 9999999999999999999;
} 
.pb-cus-md-6{
  padding-bottom: 0rem !important;
}
}

/*@media (min-width:  900px) and (max-width:  1053px){
       .js-pos-abs {
    position: absolute;
   top:20px;
   z-index: 9999999999999999999;
} 
.pb-cus-md-6{
  padding-bottom: 0rem !important;
}  
}

@media (min-width:  1045px) and (max-width: 1300px){
       .js-pos-abs {
    position: absolute;
   top:20px;
   z-index: 9999999999999999999;
} 
.pb-cus-md-6{
  padding-bottom: 0rem !important;
}  
}
*/




/* js backend */

.note-editor.note-airframe, .note-editor.note-frame{
    border: none !important;
}
.js-label{
  display: inline-block;
  text-decoration: underline;
   cursor: pointer;
   font-family: geometria-n;
}

.js-labelll{
  display: inline-block;
  text-decoration: underline;
   cursor: pointer;
   font-family: gildadisplay;
}

.js-pills .nav-link.active, .js-pills .show > .nav-link{
    font-family: geometria-b;
}

.js-vi{
    font-family: geometria-b;
}

.js-piccc{
    font-family: geometria-n;
}

#file-filename{
    font-weight: bolder;
}

.js-pills .nav-link{
    font-family: geometria-n;
}

.bc-flex .bc-in-sm {
    font-family: geometria-n;
}

@media (min-width: 1024px) and (max-width: 1200px){
    .bc-pl-2 {
   padding-left: 0rem; 
}
.me-3 {
     margin-right: 0rem !important; 
}
.bc-font{
    font-size: .9rem !important;
}
.ds-in-t {
    font-size: 1.1rem;
    font-family: gildadisplay;
    margin-left: 18px;
}
.ds{
    position: fixed;
}
}

@media (min-width: 768px) and (max-width: 1023px){
    .ds-mt-9 {
    margin-top: 9rem;
}
  .bc-pl-2 {
   padding-left: 0rem; 
}
.me-3 {
     margin-right: 0rem !important; 
}
.ds{
    position: fixed;
}
}

@media (max-width: 767px){
    .jk-s{
        width: 40px;
        padding-top: 10px;
    }
}

.font-size70pt{
    font-size: 70pt !important;
}
.font-size17pt{
    font-size: 17pt !important;
}

.pt5rem{
    padding-top: 5rem !important;
}

.ml2-2vw{
    margin-left: 2.2vw;
}

.ds-py-5a{
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.ds-py-5b{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.dflex{
 display: flex;
}
.psrelative{
    position: relative !important;
}

/* vac res */

.j-ip{
    height: 105vh !important;
}

.j-ip2{
    height: 117vh !important;
    padding: 10%;
}
.js-px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

@media (min-width: 1024px) and (max-width: 1200px){
    .js-video {
    width: 100%;
    object-fit: cover;
    height: 50vh;
}
.js-ff{
    text-align: initial;
    margin-left: 10px;
}
.ml2-2vw {
     margin-left: 0vw; 
}
.font-size110pt {
    font-size: 70pt !important;
}
.j-ip{
    height: 45vh !important;
}
.ds-sih {
    height: 50vh;
    object-fit: cover;
}
.slider, .slide{
    height: 46vh !important;
}
.ds-img-1{
    height: 25vh;
}
.j-ip2{
    height: 53vh !important;
}
.height69 {
    height: 37vh !important;
}
.height65 {
    height: 36vh !important;
}
.j-ip3 {
    height: 70vh;
}
.ds-vsec {
    width: 100%;
    height: 70vh !important;
    object-fit: cover;
}
.j-ip4{
    height: 46vh;
}
.ds-bgt-2 {
    font-size: 2.6rem;
    letter-spacing: 1px;
    font-family: gildadisplay;
}
.pt5rem {
    padding-top: 3rem !important;
}
.ds-ab {
    position: absolute;
    right: -3%;
    top: 41%;
}
.ds-img-2 {
    max-width: 400px;
    position: relative;
    left: 122px;
}
}



@media (min-width: 768px) and (max-width: 1023px){
    .js-video {
    width: 100%;
    object-fit: cover;
    height: 70vh;
}
.js-ff{
    text-align: initial;
}
.ml2-2vw {
     margin-left: 0vw; 
}
.ds-text-center {
   text-align: initial;
}

.js-pt-md-2{
    padding-top: 10px;
}
.j-ip{
    height: 69vh !important;
}
.ds-sih {
    height: 70vh;
    object-fit: cover;
}
.ds-img-1{
     height: 20vh;
}
.ds-img-2{
    height: 200px;
    top: -30%;
}
.font-size110pt {
    font-size: 60pt !important;
}
.ds-img-2 {
    max-width: 79%;
    position: relative;
    left: 77px;
    padding-top: 2rem;
    height: 200px;
    top: -30%;
}
.ds-pr-4 {
    padding-right: 0rem; 
}

.ds-ab {
    position: absolute;
    right: -6%;
    top: 21%;
}
.font-size20pt {
    font-size: 19pt !important;
}
.j-ip2 {
    height: 46vh !important;
    margin-top: 0px !important;
}
.font-size70pt {
    font-size: 55pt !important;
}
.height69 {
    height: 39vh !important;
}
.height65 {
    height: 38vh !important;
}
.ds-pp-l {
    padding-left: 4.9rem !important;
}
.j-ip3 {
    height: 73vh;
}
.ds-vsec {
    width: 100%;
    height: 70vh !important;
    object-fit: cover;
}
.j-ip4{
    height: 57vh;
}
.ds-bgt-2{
    font-size: 1.5rem;
}
}

@media (max-width: 767px){
  .js-pos-abs{
    top: -420px;
  }
    .js-video {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.ds-fs {
    font-size: 21px;
}
.pb-cus-md-6{
    padding-bottom: 0rem !important;
}
.j-roe{
    padding-left: 0px !important;
}
.j-col{
    padding-left: 0px !important;
}
.js-pt-md-2{
    padding-top: 10px;
}

.ml2-2vw {
     margin-left: 0vw; 
}
.font-size110pt {
    font-size: 47pt !important;
}
.ds-h4-sub {
    font-size: 4.8vw;
    padding-top: 0rem !important; 
    padding-bottom: 0rem !important; 
}
.custom-font-s2-t1 {
    padding-left: 12.3% !important;
}
.font-size20pt {
    font-size: 15pt !important;
}
.ds-pp-l {
    padding-left: 4.9rem !important;
}
.j-ip {
    height: 113vh !important;
}
.ds-sih {
    height: 50vh;
    object-fit: cover;
}
.j-ip2 {
    margin-top: 0px !important;
    padding: 5px;
    height: 128vh !important;
}
.dev-ds-p {
    font-size: 15px;
}
.ds-pr-4 {
     padding-right: 0rem; 
}
.ds-vw-1{
    letter-spacing: 5px;
}
.devexpfont{
    font-size: 23px !important;
}
.js-pt-md-3{
    padding-top: 30px;
    padding-bottom: 20px;
}
.ds-img-1 {
    max-width: 610px;
    position: relative;
    width: 90%;
    margin-left: 0%;
    height: 31vh;
}
.ds-img-2 {
    max-width: 87%;
    position: relative;
    left: 30px;
    top: -88px;
    padding-top: 2rem;
}
.ds-img-2 {
    max-width: 87%;
    position: relative;
    left: 30px;
    top: -88px;
    padding-top: 2rem;
}
.font-size70pt {
    font-size: 22pt !important;
}
.ds-ab {
    position: absolute;
    right: 1%;
    top: 22%;
}
.height69 {
    height: 37vh !important;
}
.js-px-2{
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.height65 {
    height: 76vh !important;
}
.j-ip3 {
    height: 142vh !important;
}
.font-size17pt {
    font-size: 15pt !important;
}
.ds-vsec {
    width: 100%;
    height: 55vh !important;
    object-fit: cover;
}
.ds-py-5{
    padding-top: 0rem !important;
}
.owl{
    display: none;
}
.dflex{
 display: block;
}
}


                                    /* responsive camera room */

.js-margin-left{
    margin-left: 53px;
}

.js-ip-c{
    margin-bottom: 15rem;
}



